/* You can add global styles to this file, and also import other style files */
body, h1, h2, ul, li, p, dd, dt, dl {
    margin: 0px;
    padding: 0px;
}

body {
    background: #f5f5f5;
    color: #222;
    display: grid;
}