.button {
    padding: 10px;
    margin-bottom: 8px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    
}

.tabela th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}