<p>
  solicitacao works!
</p>

<div>
 <button (click)="buscarSolicitacoes()" class="button">
    Buscar
  </button>

 <table *ngIf="solicitacoes.length > 0" class="tabela">
  <thead>
    <tr>
      <th>Número Solicitação</th>
      <th>Status</th>
      <th>Viajante</th>
      
      <th>Conteúdo Aéreo</th>
      
      
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let s of solicitacoes">
      <td>{{ s.idSolicitacao}}</td>
      <td>{{ s.status }}</td>
      

      <td>
        <div *ngFor="let p of s.passageiros">
          {{ p.nome }}
        </div>
      </td>

      <td>
        <div *ngFor="let a of s.aereos">
          <Strong>{{ a.cia }} - {{ a.localizador }}</Strong>
      
          <div *ngFor="let seg of a.aereosSegmentos">
          {{ seg.cidadeOrigem }} -> {{ seg.cidadeDestino }} 
          </div>
        </div>
      </td>
      
    </tr>
  </tbody>

 </table>
</div>

<!-- <div>
  <button (click)="buscarSolicitacoes()">
    Buscar Solicitações
  </button>
  <pre>{{ solicitacoes | json}}</pre>
  <ul>
    <li *ngFor="let s of solicitacoes">
      {{ s.solicitante }}
    </li>
  </ul>
</div>
<div>
  <table class="tabela">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let s of solicitacoes">
        <td>{{ s.idSolicitacao }}</td>
        <td>{{ s.solicitante }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

